
<fieldset class="show-list">
	<legend>
	  <%=singular_table_name.capitalize%>
	  <span class="action-links">
    	<%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) if can?(:update,@<%= singular_table_name %>)%> 
    	<%%= link_to 'Destroy', @<%= singular_table_name %>, <%= key_value :confirm, "'Are you sure?'" %>, <%= key_value :method, ":delete" if can?(:destroy,@<%= singular_table_name %>)%> %> %>
      
	  </span>
	  
	</legend>
  	<table>
	<% for attribute in attributes %>
      <tr>
        <th><%= attribute.human_name %>:</th>
        <td><%%= @<%= singular_table_name %>.<%= attribute.name %> %></td>
      </tr>
	<% end %>
	</table>
</fieldset>
<div class="action-bar">
  <span class="navspan">
  </span>
</div>
<div class="relations">
	<div id="related">
	</div>
</div>
