- flash.each do |name, msg| 
  = content_tag :div, msg.html_safe, class: "#{name}"
=# @what.inspect
%fieldset

  = link_to "Home", root_path

  %h5 
    WhatIsIt?
  = form_tag  query_whatisits_path, :method => :put do
    = search_field_tag :query, @what.str,:size => 50, :autofocus => true
    = submit_tag "WhatIsIt?", :class => 'dim'

<hr />   
%fieldset.answer
  = render  @what.response[:action]
